<li>
  <a href="#">Services</a>
  <ul class="menu vertical">
    <% current_user.services.each do |service| %>
      <li>
        <%= link_to service.name, current_services_path(current_service: service.id), method: :put %></li>
    <% end %>
  </ul>
</li>
