<div class="row">
  <div class="columns">
    <h2>Listing</h2>
    <p>Date: 01/01/2018</p>
  </div>
</div>

<div class="row">
  <div class="columns">

    <div class="orbit" role="region" aria-label="Schedule Listing" data-orbit>
      <ul class="orbit-container">
        <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
        <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
        <li class="is-active orbit-slide">
          <div class="list-times text-center">
            <div class="grid-x">
              <div class="cell small-3">
                6:00
              </div>
              <div class="cell small-3">
                6:30
              </div>
              <div class="cell small-3">
                7:00
              </div>
              <div class="cell small-3">
                7:30
              </div>
            </div>
          </div>
        </li>
        <li class="orbit-slide">
          <div class="list-times text-center">
            <div class="grid-x">
              <div class="cell small-3">
                8:00
              </div>
              <div class="cell small-3">
                8:30
              </div>
              <div class="cell small-3">
                9:00
              </div>
              <div class="cell small-3">
                9:30
              </div>
            </div>
          </div>
        </li>
        <li class="orbit-slide">
          <div class="list-times text-center">
            <div class="grid-x">
              <div class="cell small-3">
                10:00
              </div>
              <div class="cell small-3">
                10:30
              </div>
              <div class="cell small-3">
                11:00
              </div>
              <div class="cell small-3">
                11:30
              </div>
            </div>
          </div>
        </li>
        <li class="orbit-slide">
          <div class="list-times text-center">
            <div class="grid-x">
              <div class="cell small-3">
                12:00
              </div>
              <div class="cell small-3">
                12:30
              </div>
              <div class="cell small-3">
                13:00
              </div>
              <div class="cell small-3">
                13:30
              </div>
            </div>
          </div>
        </li>
        <li class="orbit-slide">
          <div class="list-times text-center">
            <div class="grid-x">
              <div class="cell small-3">
                14:00
              </div>
              <div class="cell small-3">
                14:30
              </div>
              <div class="cell small-3">
                15:00
              </div>
              <div class="cell small-3">
                15:30
              </div>
            </div>
          </div>
        </li>
      </ul>

      <nav class="orbit-bullets">
        <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
        <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
        <button data-slide="4"><span class="show-for-sr">Second slide details.</span></button>
        <button data-slide="5"><span class="show-for-sr">Third slide details.</span></button>
        <button data-slide="6"><span class="show-for-sr">Fourth slide details.</span></button>
      </nav>

    </div>

  </div>
</div>

